@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1{
    color: #fff;
}

:root{
    --red: #c0392b;
    --purple: #8e44ad;
    --orange: #e67e22;
    --yellow: #f1c40f;
    --green: #2ecc71;
    --blue: #2980b9;
    --gray: #2c3e50;
    --pink: #FE9298;
    --fundo-1: #040B18;
}

/* displays */
.inline{display: inline}
.block{display: block}
.contents{display: contents}
.inline-block{display: inline-block}
.inline-flex{display: inline-flex}
.inline-grid{display: inline-grid}
.inline-table{display: inline-table}
.list-item{display: list-item}
.run-in{display: run-in}
.table{display: table}
.table-caption{display: table-caption}
.table-column-group{display: table-column-group}
.table-header-group{display: table-header-group}
.table-footer-group{display: table-footer-group}
.table-row-group{display: table-row-group}
.table-cell{display: table-cell}
.table-column{display: table-column}
.table-row{display: table-row}


.flex{display: flex;}

.flex-1p{flex: 100px;}
.flex-2p{flex: 200px;}
.flex-3p{flex: 300px;}
.flex-4p{flex: 400px;}
.flex-5p{flex: 500px;}

.flex-1{flex: 1;}
.flex-2{flex: 2;}
.flex-3{flex: 3;}
.flex-4{flex: 4;}
.flex-5{flex: 5;}

.order-1{order: 1}
.order-2{order: 2}
.order-3{order: 3}
.order-4{order: 4}
.order-5{order: 5}

.grid{display: grid;}

.grid-cols-2{grid-template-columns: repeat(2,1fr);}
.grid-cols-3{grid-template-columns: repeat(3,1fr);}
.grid-cols-4{grid-template-columns: repeat(4,1fr);}
.grid-cols-5{grid-template-columns: repeat(5,1fr);}

.grid-gap-1{gap: 10px;}
.grid-gap-2{gap: 20px;}
.grid-gap-3{gap: 30px;}
.grid-gap-4{gap: 40px;}

.m-1{margin: 10px}
.m-2{margin: 20px}
.m-3{margin: 30px}
.m-4{margin: 40px}
.m-5{margin: 50px}

.m-auto{margin: auto;}
.mx-auto{margin-left: auto; margin-right: auto;}

.my-1{margin: 10px 0px}
.my-2{margin: 20px 0px}
.my-3{margin: 30px 0px}
.my-4{margin: 40px 0px}
.my-5{margin: 50px 0px}

.p-1{padding: 10px;}
.p-2{padding: 20px;}
.p-3{padding: 30px;}
.p-4{padding: 40px;}
.p-5{padding: 50px;}

.px-1{padding-left: 10px; padding-right: 10px;}
.px-2{padding-left: 20px; padding-right: 20px;}
.px-3{padding-left: 30px; padding-right: 30px;}
.px-4{padding-left: 40px; padding-right: 40px;}
.px-5{padding-left: 50px; padding-right: 50px;}

.py-1{padding-top: 10px; padding-bottom: 10px;}
.py-2{padding-top: 20px; padding-bottom: 20px;}
.py-3{padding-top: 30px; padding-bottom: 30px;}
.py-4{padding-top: 40px; padding-bottom: 40px;}
.py-5{padding-top: 50px; padding-bottom: 50px;}

.bg-red{background-color: #e74c3c;}
.bg-blue{background-color: #3498db;}
.bg-purple{background-color: #8e44ad;}
.bg-orange{background-color: #e67e22;}
.bg-pink{background-color: #FE9298;}
.bg-default{background-color: #040B18;}

.flex{display: flex;}
.flex-wrap{flex-wrap: wrap;}
.items-center{align-items: center;}
.justify-center{justify-content: center;}
.space-between{justify-content: space-between;}
.space-around{justify-content: space-around;}


.text-center{text-align: center;}
.text-justify{text-align: justify;}


.h-10{height: 10px;}
.h-20{height: 20px;}
.h-30{height: 30px;}
.h-40{height: 40px;}
.h-50{height: 50px;}

.h-100{height: 100px;}
.h-200{height: 200px;}
.h-300{height: 300px;}
.h-400{height: 400px;}
.h-500{height: 500px;}

.h-10p{height: 10%;}
.h-20p{height: 20%;}
.h-30p{height: 30%;}
.h-40p{height: 40%;}
.h-50p{height: 50%;}
.h-60p{height: 60%;}
.h-70p{height: 70%;}
.h-80p{height: 80%;}
.h-90p{height: 90%;}
.h-100p{height: 100%;}
.h-full{height: 100%;}

.h-10vh{height: 10vh;}
.h-20vh{height: 20vh;}
.h-30vh{height: 30vh;}
.h-40vh{height: 40vh;}
.h-50vh{height: 50vh;}
.h-60vh{height: 60vh;}
.h-70vh{height: 70vh;}
.h-80vh{height: 80vh;}
.h-90vh{height: 90vh;}
.h-100vh{height: 100vh;}



.w-100{width: 100px;}
.w-200{width: 200px;}
.w-300{width: 300px;}
.w-400{width: 400px;}
.w-500{width: 500px;}

.w-10p{width: 10%;}
.w-20p{width: 20%;}
.w-30p{width: 30%;}
.w-40p{width: 40%;}
.w-50p{width: 50%;}
.w-60p{width: 60%;}
.w-70p{width: 70%;}
.w-80p{width: 80%;}
.w-90p{width: 90%;}
.w-100p{width: 100%;}
.w-full{width: 100%;}

/* fonts */

.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}



.font-model-1{font-family: "arial black"}
.font-model-2{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
.font-model-3{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}


.font-size-1p{font-size: 1em}
.font-size-2p{font-size: 1.5em}
.font-size-3p{font-size: 2em}
.font-size-4p{font-size: 2.5em}
.font-size-5p{font-size: 3em}

.font-size-1{font-size: calc(0.1em + 4vw);}
.font-size-2{font-size: calc(0.2em + 4vw);}
.font-size-3{font-size: calc(0.3em + 4vw);}
.font-size-4{font-size: calc(0.4em + 4vw);}
.font-size-5{font-size: calc(0.5em + 4vw);}


.color-white{color: white}
.color-black{color: black}
.color-red{color: var(--red)}
.color-purple{color: var(--purple)}
.color-orange{color: var(--orange)}
.color-yellow{color: var(--yellow)}
.color-green{color: var(--green)}
.color-blue{color: var(--blue)}
.color-gray{color: var(--gray)}
.color-pink{color: var(--pink)}

.text-shadow{text-shadow: 0px 0px 8px #00000077;}


.bg-white{background-color: white}
.bg-black{background-color: black}
.bg-red{background-color: var(--red)}
.bg-purple{background-color: var(--purple)}
.bg-orange{background-color: var(--orange)}
.bg-yellow{background-color: var(--yellow)}
.bg-green{background-color: var(--green)}
.bg-blue{background-color: var(--blue)}
.bg-gray{background-color: var(--gray)}
.bg-pink{background-color: var(--pink)}

.rounded{border-radius: 5px;}
.rounded-2{border-radius: 10px;}
.rounded-3{border-radius: 20px;}
.rounded-4{border-radius: 30px;}
.rounded-5{border-radius: 40px;}
.rounded-full{border-radius: 40px;}


.border-none{border: none}
.outline-none{outline: none;}

/* cursor */
.cursor-alias{cursor: alias}
.cursor-all-scroll{cursor: all-scroll}
.cursor-auto{cursor: auto}
.cursor-cell{cursor: cell}
.cursor-context-menu{cursor: context-menu}
.cursor-col-resize{cursor: col-resize}
.cursor-copy{cursor: copy}
.cursor-crosshair{cursor: crosshair}
.cursor-default{cursor: default}
.cursor-e-resize{cursor: e-resize}
.cursor-ew-resize{cursor: ew-resize}
.cursor-grab{cursor: grab}
.cursor-grabbing{cursor: grabbing}
.cursor-help{cursor: help}
.cursor-move{cursor: move}
.cursor-n-resize{cursor: n-resize}
.cursor-ne-resize{cursor: ne-resize}
.cursor-nesw-resize{cursor: nesw-resize}
.cursor-ns-resize{cursor: ns-resize}
.cursor-nw-resize{cursor: nw-resize}
.cursor-nwse-resize{cursor: nwse-resize}
.cursor-no-drop{cursor: no-drop}
.cursor-none{cursor: none}
.cursor-not-allowed{cursor: not-allowed}
.cursor-pointer{cursor: pointer}
.cursor-progress{cursor: progress}
.cursor-row-resize{cursor: row-resize}
.cursor-s-resize{cursor: s-resize}
.cursor-se-resize{cursor: se-resize}
.cursor-sw-resize{cursor: sw-resize}
.cursor-text{cursor: text}
.cursor-vertical-text{cursor: vertical-text}
.cursor-w-resize{cursor: w-resize}
.cursor-wait{cursor: wait}
.cursor-zoom-in{cursor: zoom-in}
.cursor-zoom-out{cursor: zoom-out}
.cursor-initial{cursor: initial}

.text-decoration-none{text-decoration: none;}

/* botão */

.bt-1 {
    cursor: pointer;
    min-width: 50%;
    margin-top: 1.3rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    text-decoration: none;
}


.bt-1:hover {
    background-color: #6C63FF;
    box-shadow: 0px 8px 10px #000;
    color: #fff;
    transform: translateY(-7px);
}
   
.bt-1:active {
    transform: translateY(-1px);
}

.bt-2 {
    cursor: pointer;
    min-width: 50%;
    margin-top: 1.3rem;
    border: none;
    border-radius: 32px;
    background: #FE9298;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    text-align: center;
    text-decoration: none;
}


.bt-2:hover {
    background-color: #FE9298;
    box-shadow: 0px 8px 10px #000;
    color: #fff;
    transform: translateY(-7px);
}
   
.bt-2:active {
    transform: translateY(-1px);
}


img {
    text-align: center;
}


.text-center2{
    text-align: center;
    margin-top: 3rem;
}