body{
    background: #434D66;
}

.wrapper {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.logo img{
    right: 600px;
    width: 350px;
    height: 200px
}

.frase {
    
    font: 20px "Book Antiqua";
    color: white;
    margin-left: 20px;
}

.formulario {
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
    border-radius: 0 15px 15px 0;
    background-color: #323535;
    height: 118%;
    width: 330px;
    position: relative;
    z-index: 1;
    margin-top: -10px;
    margin-left: -7px;
    padding: 30px;
    padding-top: 30px;
    transition: 0.5s;
}

.registro {
    font-family:arial;
    font-size: 12px;
    color: white;
    height: 10%;
    width: 260px;
    margin-left: -10px;
    padding: 0.8px;
    padding-top: 10px;
    
}

.centro img{
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
    background-color: #323535;
    border-radius: 10px;
    height: 1000px;
    width: 1400px;
    position: absolute;
    z-index: 0;
    margin-top: -920px;
    margin-left: 420px;
    transition: 0.5s;
}

form input[type=text]{
    font-family:arial;
    font-size: 12px;
    color: white;
    text-decoration-color:white;
    box-shadow:inset 0px 3px 3px 0px rgba(0,0,0,0.2);
    background-color: #6C63FF;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    border: none;
    padding-left: 30px;
    margin: 10px 0;
}

input::placeholder{
    font-family:arial;
    font-size: 12px;
    color: white;
}

form input[type=tel]{
    font-family:arial;
    font-size: 12px;
    color: white;
    box-shadow:inset 0px 3px 3px 0px rgba(0,0,0,0.2);
    background-color: #6C63FF;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    border: none;
    padding-left: 30px;
    margin: 10px 0;
}

form input[type=password]{
    font-family:arial;
    font-size: 12px;
    color: white;
    box-shadow:inset 0px 3px 3px 0px rgba(0,0,0,0.2);
    background-color: #6C63FF;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    border: none;
    padding-left: 30px;
    margin: 10px 0;
}

form input[type=date]{
    font-family:arial;
    font-size: 12px;
    color: white;
    box-shadow:inset 0px 3px 3px 0px rgba(0,0,0,0.2);
    background-color: #6C63FF;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    border: none;
    padding-left: 30px;
    margin: 10px 0;
}

form input[type=submit]{
    font-family:arial;
    font-size: 17px;
    font-weight: bold;
    color: white;
    box-shadow:inset 0px 3px 3px 0px rgba(0,0,0,0.2);
    background-color: #6C63FF;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    border: none;
    margin: 10px 0;
}

form input[type=submit]:hover{
    background-color: #8781ff;
    box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.2);
    text-shadow: none;
}

.libras img{
    width: 40px;
    height: 40px;
    margin-left: 1510px;
    margin-top: -700px;
    margin-bottom: 50px;
    position:absolute;
    z-index: 1;
}

.separador {
    width: calc(60% + 190px);
    margin-left: -30px;
    border: 1px solid white;
    opacity: 30%;
    margin-top: 10px;
}

.separador2 {
    width: calc(60% + 231px);
    margin-left: -20px;
    border: 1px solid white;
    opacity: 30%;
    margin-top: 10px;
}


.espaço {
    right: 200px;
    width: 200px;
    height: 20px
}