@charset "UTF-8";

@font-face {
    font-family: fjalla one;
    src: url(font/FjallaOne-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    background-color: #434D66;
    color: white;
  }

  p {
      text-align: center;
  }

  .root {
    margin-left: 0.5px;
    background-color: #434D66;
    display: flex;
    justify-content: space-between;
  }
  
  .root > .form {
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: #323535;
      box-shadow: 5px 5px 5px rgba(0,0,0,.5);
      border-radius: 0 15px 15px 0; 
      padding: 20px;
  }
  
  .root > .form > button {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #6C63FF;
    border-radius: 20px; 
    background-color: #6C63FF;
    color: white;
  }
 
  .root > .form > .inputs > .input {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    text-decoration: none;
    background-color:#6C63FF;
    border: 1px solid #6C63FF;
    width: 100%;
    height: auto;

  }
  
  .root > .form > .inputs > .input > input {
    margin: 10px 50px;
    background: transparent;
    border: none;
  }
  
  .root > .form > .inputs > .input > span {
    font-size: 11px;
    color: gray;
  }
  
  
  .root > .image > img {
    display: flex;
    align-items: center;
    margin: 30px 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5); 
    border-radius: 15px 15px 15px; 
  }

  
  .root > .form > .titulo > img {
    position: absolute;
    left: 35px;
    bottom: 200px; 
  }
  .root > .form > .titulo {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
  }